<div class="post">
	<div class="title">
		<h2 id="dates">Calendar Dates</h2>
	</div>
	
	<div class="subtitle">
		<h4 id="daysoftheweek">Days of the Week</h4>
	</div>
	
	<p>
		First we will start off with some general vocab that is necessary for understanding dates in Kiswahili.  Up first are the days of the week.
		<br><br>*NOTE:  Kiswahili weeks start with Saturday instead of Sunday (as is customary in the USA).  I indicated this using <span class="red">red</span>.
		<br>*NOTE2: You will notice that most of these days of the week use Kiswahili <a href="#numbers">numbers</a>.  (Including "mosi", an Arabic version of the number "one" in Kiswahili.)  Additionally you'll notice that Thursday and Friday are also Arabic number'esque forms instead of the more simplistic numbers.
	</p>
	
	<table id="daysoftheweek" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>English</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td><span class="red">Saturday</span></td>
			<td><span class="red">jumamosi</span></td>
		</tr>
		<tr class="highlight">
			<td>Sunday</td>
			<td><span class="blue">jumapili</span></td>
		</tr>
		<tr class="highlight">
			<td>Monday</td>
			<td><span class="blue">jumatatu</span></td>
		</tr>
		<tr class="highlight">
			<td>Tuesday</td>
			<td><span class="blue">jumanne</span></td>
		</tr>
		<tr class="highlight">
			<td>Wednesday</td>
			<td><span class="blue">jumatano</span></td>
		</tr>
		<tr class="highlight">
			<td>Thursday</td>
			<td><span class="blue">alhamisi</span></td>
		</tr>
		<tr class="highlight">
			<td>Friday</td>
			<td><span class="blue">ijumaa</span></td>
		</tr>
	</table>
	
	<br>
	
	<div class="subtitle">
		<h4 id="monthsoftheyear">Months of the Year</h4>
	</div>
	
	<p>
		Up next is the months.  You will notice these come in two forms.  English-like words and numerical indicators.  From what I understand, these vary in usage based on location of the Kiswahili speaking area.  Our teacher (mwalimu) preferred the numeric ones.
		<br><br>*NOTE: For the numeric version, they have an easy to remember format.  They use the phrase <span class="blue">mwezi wa</span> ("month of") + <span class="red">number</span>.
	</p>
	
	<table id="months" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>English</td>
			<td>Kiswahili (Numeric)</td>
			<td>Kiswahili (English-Like)</td>
		</tr>
		<tr class="highlight">
			<td>January</td>
			<td><span class="blue">mwezi wa</span> <span class="red">kwanza</span></td>
			<td><span class="blue">Januari</span></td>
		</tr>
		<tr class="highlight">
			<td>February</td>
			<td><span class="blue">mwezi wa</span> <span class="red">pili</span></td>
			<td><span class="blue">Februari</span></td>
		</tr>
		<tr class="highlight">
			<td>March</td>
			<td><span class="blue">mwezi wa</span> <span class="red">tatu</span></td>
			<td><span class="blue">Machi</span></td>
		</tr>
		<tr class="highlight">
			<td>April</td>
			<td><span class="blue">mwezi wa</span> <span class="red">nne</span></td>
			<td><span class="blue">Aprili</span></td>
		</tr>
		<tr class="highlight">
			<td>May</td>
			<td><span class="blue">mwezi wa</span> <span class="red">tano</span></td>
			<td><span class="blue">Mei</span></td>
		</tr>
		<tr class="highlight">
			<td>June</td>
			<td><span class="blue">mwezi wa</span> <span class="red">sita</span></td>
			<td><span class="blue">Juni</span></td>
		</tr>
		<tr class="highlight">
			<td>July</td>
			<td><span class="blue">mwezi wa</span> <span class="red">saba</span></td>
			<td><span class="blue">Julai</span></td>
		</tr>
		<tr class="highlight">
			<td>August</td>
			<td><span class="blue">mwezi wa</span> <span class="red">nane</span></td>
			<td><span class="blue">Agosti</span></td>
		</tr>
		<tr class="highlight">
			<td>September</td>
			<td><span class="blue">mwezi wa</span> <span class="red">tisa</span></td>
			<td><span class="blue">Septemba</span></td>
		</tr>
		<tr class="highlight">
			<td>October</td>
			<td><span class="blue">mwezi wa</span> <span class="red">kumi</span></td>
			<td><span class="blue">Oktoba</span></td>
		</tr>
		<tr class="highlight">
			<td>November</td>
			<td><span class="blue">mwezi wa</span> <span class="red">kumi na moja</span></td>
			<td><span class="blue">Novemba</span></td>
		</tr>
		<tr class="highlight">
			<td>December</td>
			<td><span class="blue">mwezi wa</span> <span class="red">kumi na mbili</span></td>
			<td><span class="blue">Desemba</span></td>
		</tr>
	</table>
	
	<p>
		<br>Now finally for the fun part.  With this information (and one additional vocab word: <span class="blue">tarehe</span> or "month" in English), we can actually communicate some information:
		<br><br>To express an actual date, use the following format:<br><span class="blue">tarehe (ya)</span> + <span class="red">date number</span> + <span class ="blue">mwezi wa</span> + <span class="red">month</span><br><br>Example (June 23rd):<br> <span class="blue">tarehe (ya)</span> <span class="red">ishirini na tatu</span> <span class="blue">mwezi wa</span> <span class="red">sita</span>
	</p>
</div>