<div class="post">
	<div class="title">
		<h2 id="greetings">Greetings</h2>
	</div>
	
	<p>Keep in mind, this follows the same patterns as <a href="#negation">verb negation</a>.</p>
	
	<div class="entry">
		<table id="greetings" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Greeting</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">si</span>jambo</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">hu</span>jambo</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">ha</span>jambo</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">hatu</span>jambo</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">ham</span>jambo</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">hawa</span>jambo</td>
			</tr>
		</table>
	</div>
</div>