<div class="post">
	<div class="title">
		<h2 id="kuwa">Kuwa</h2>
	</div>
	
	<p>
		"Kuwa" is the word for "to be" in Kiswahili.  We conjugate it specially because it behaves strangely in the present tense.
		<br><br>Note: In the present tense, "ni" is used with every pronoun.
	</p>
	
	<div class="entry">
		<table id="kuwa" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">ni</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">ni</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">u</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">u</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">a</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">a</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">tu</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">tu</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">m</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">m</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">wa</span><span class="red">li</span>kuwa</td>
				<td><span class="red">ni</span></td>
				<td><span class="blue">wa</span><span class="red">ta</span>kuwa</td>
			</tr>
		</table>
		
		<p>
			<br>"Kuwa" also behaves strangely in the present tense for negations:
			<br><br>Note: In the present tense, "si" is used with every pronoun.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In past tense, the negation prefix "ku" is optional as it's redundant.
		</p>
		
		<table id="kuwana" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">si</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">si</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">hu</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">hu</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">ha</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">ha</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">hatu</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">hatu</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">ham</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">ham</span><span class="red">ta</span>kuwa</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">hawa</span><span class="red">(ku)</span>kuwa</td>
				<td><span class="red">si</span></td>
				<td><span class="blue">hawa</span><span class="red">ta</span>kuwa</td>
			</tr>
		</table>
		
		<br>
		<div class="subtitle">
			<h3 id="kuwa na">Kuwa na</h3>
		</div>

		<p>
			"Kuwa na" meaning "to have" also conjugates a little weird in the present tense.  Its conjugation can be found below:
			<br><br>Note: The present tense of "kuwa na" is <u>NOT</u> the same for every pronoun.
		</p>
		
		<table id="kuwana" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">ni</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">ni</span>na</td>
				<td><span class="blue">ni</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">u</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">u</span>na</td>
				<td><span class="blue">u</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">a</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">a</span>na</td>
				<td><span class="blue">a</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">tu</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">tu</span>na</td>
				<td><span class="blue">tu</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">m</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">m</span>na</td>
				<td><span class="blue">m</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">wa</span><span class="red">li</span>kuwa na</td>
				<td><span class="blue">wa</span>na</td>
				<td><span class="blue">wa</span><span class="red">ta</span>kuwa na</td>
			</tr>
		</table>
		
		<p>
			<br>And, of course, "kuwa na" behaves similarly strange in the negation present tense:
			<br><br>Note: The present negation of "kuwa na" is <u>NOT</u> the same for all pronouns.
			<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In past tense, the negation prefix "ku" is optional as it's redundant.
		</p>
		
		<table id="kuwananeg" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">si</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">si</span>na</td>
				<td><span class="blue">si</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">hu</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">hu</span>na</td>
				<td><span class="blue">hu</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">ha</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">ha</span>na</td>
				<td><span class="blue">ha</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">hatu</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">hatu</span>na</td>
				<td><span class="blue">hatu</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">ham</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">ham</span>na</td>
				<td><span class="blue">ham</span><span class="red">ta</span>kuwa na</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">hawa</span><span class="red">(ku)</span>kuwa na</td>
				<td><span class="blue">hawa</span>na</td>
				<td><span class="blue">hawa</span><span class="red">ta</span>kuwa na</td>
			</tr>
		</table>
		
		<br>
		<div class="subtitle">
			<h3 id="na">-na</h3>
		</div>
		
		<p>
			This is just as good a time as any to introduce "-na".
			<br><br>You should have noticed that we used "-na", which (when combined with "kuwa") is used to mean "to have".  In Kiswahili, "-na" also means "is/are".
			<br><br>This is most commonly used for the phrase "there is/there are".  To express the statement "there is/are", you use "<b><span class="blue">Ku</span>na</b>".
			<br><br>*NOTE:  I put the "<span class="blue">Ku</span>" there in <span class="blue">blue</span> because in this case, we are using <span class="blue">Ku</span> to be the subject-prefix for a place/location.  Much like English uses the pronoun "it" to represent a place, Kiswahili uses the special prefix "<span class="blue">Ku</span>".
			<br><br>**NOTE2: This may get confusing because we also use "Ku" for infinitives and in the past-tense negation form.  To make this more clear, I highlight the subject prefix in <span class="blue">blue</span> and the tense prefix in <span class="red">red</span> (this is consistent throughout every section on this website).
		</p>
		
		<table id="na" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Tense</td>
				<td>Positive</td>
				<td>Negative</td>
				<td>English</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">Present</span></td>
				<td><span class="blue">Ku</span>na</td>
				<td><span class="black">*</span>Ha<span class="blue">ku</span>na</td>
				<td><span class="red">there is/are (not)</span></td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">Future</span></td>
				<td><span class="blue">Ku</span><span class="red">ta</span>kuwa na</td>
				<td>Ha<span class="blue">ku</span><span class="red">ta</span>kuwa na</td>
				<td><span class="red">there will (not) be</span></td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">Past</span></td>
				<td><span class="blue">Ku</span><span class="red">li</span>kuwa na</td>
				<td><span class="black">**</span>Ha<span class="blue">ku</span>kuwa na</td>
				<td><span class="red">there was (not)</span></td>
			</tr>
		</table>
		
		<p>
			<br><span class="black">*</span>You may notice the word "Hakuna" from the phrase "Hakuna matata" in the Lion King movie.  "Matata" means "worry", "problem", etc.  So the literal translation is roughly: "There are no worries".<br><br><span class="black">**</span>You should notice that there is no tense-prefix for the past negative conjugation.  If you remember correctly, the tense prefix for past tense negation changes to <span class="red">Ku</span>.  So if you included that prefix as well you would have:  <table style="display:inline-table;" border="0" cellpadding="0" cellspacing="0"><tr class="highlight"><td>Ha<span class="blue">ku</span><span class="red">(ku)</span>kuwa na</td></table>
			<br>I don't know about you, but I don't wanna sound like a Cuckoo bird trying to say all those Ku's.  So we simply drop one for pronunciation.
		</p>
	</div>
</div>