<div class="post">
	<div class="title">
		<h2 id="negation">Negation</h2>
	</div>
	
	<p>
		Keep in mind, this follows the same patterns as the -jambo <a href="#greetings">greetings</a>.
		<br><br>The example below uses the verb "-cheza" meaning "dance" or "play".
		<br><br>Note: In present tense, verbs ending with "a" change the final "a" to an "i".
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The present tense also drops the tense prefix.
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The past tense uses "ku" instead of "li" as the tense prefix.
	</p>
	
	<div class="entry">
		<table id="negation" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">si</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">si</span>chez<span class="red">i</span></td>
				<td><span class="blue">si</span><span class="red">ta</span>cheza</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">hu</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">hu</span>chez<span class="red">i</span></td>
				<td><span class="blue">hu</span><span class="red">ta</span>cheza</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">ha</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">ha</span>chez<span class="red">i</span></td>
				<td><span class="blue">ha</span><span class="red">ta</span>cheza</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">hatu</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">hatu</span>chez<span class="red">i</span></td>
				<td><span class="blue">hatu</span><span class="red">ta</span>cheza</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">ham</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">ham</span>chez<span class="red">i</span></td>
				<td><span class="blue">ham</span><span class="red">ta</span>cheza</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">hawa</span><span class="red">ku</span>cheza</td>
				<td><span class="blue">hawa</span>chez<span class="red">i</span></td>
				<td><span class="blue">hawa</span><span class="red">ta</span>cheza</td>
			</tr>
		</table>
	</div>
</div>