<div class="post">
	<div class="title">
		<h2 id="nounclass">Noun Classes</h2>
	</div>
	
	<p><span class="red">This section is under construction... please check back later.</span></p>
	
	<table id="nounclasses" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adjective</td>
			<td>Subject</td>
			<td>-a (of)</td>
			<td>Possessive</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">3</span></td>
			<td><span class="red">m</span><span class="blue">ti</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">4</span></td>
			<td><span class="red">mi</span><span class="blue">ti</span></td>
			<td><span class="red">mi</span><span class="blue">zuri</span></td>
			<td><span class="red">i-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">5</span></td>
			<td><span class="black">*</span><span class="red">Ø-</span><span class="blue">tunda</span></td>
			<td><span class="black">*</span><span class="red">Ø-</span><span class="blue">zuri</span></td>
			<td><span class="red">li-</span></td>
			<td><span class="red">la</span></td>
			<td><span class="red">l</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">6</span></td>
			<td><span class="red">ma</span><span class="blue">tunda</span></td>
			<td><span class="red">ma</span><span class="blue">zuri</span></td>
			<td><span class="red">ya-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">7</span></td>
			<td><span class="red">ki</span><span class="blue">tu</span></td>
			<td><span class="red">ki</span><span class="blue">zuri</span></td>
			<td><span class="red">ki-</span></td>
			<td><span class="red">cha</span></td>
			<td><span class="red">ch</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">8</span></td>
			<td><span class="red">vi</span><span class="blue">yu</span></td>
			<td><span class="red">vi</span><span class="blue">zuri</span></td>
			<td><span class="red">vi-</span></td>
			<td><span class="red">vya</span></td>
			<td><span class="red">vy</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">9</span></td>
			<td><span class="black">*</span><span class="red">n</span><span class="blue">dizi</span></td>
			<td><span class="red">n</span><span class="blue">zuri</span></td>
			<td><span class="red">i-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">10</span></td>
			<td><span class="black">*</span><span class="red">n</span><span class="blue">dizi</span></td>
			<td><span class="red">n</span><span class="blue">zuri</span></td>
			<td><span class="red">zi-</span></td>
			<td><span class="red">za</span></td>
			<td><span class="red">z</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">11</span></td>
			<td><span class="red">u</span><span class="blue">limi</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">14</span></td>
			<td><span class="red">u</span><span class="blue">huru</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">15</span></td>
			<td><span class="red">ku</span><span class="blue">taka</span></td>
			<td><span class="red">ku</span><span class="blue">zuri</span></td>
			<td><span class="red">ku-</span></td>
			<td><span class="red">kwa</span></td>
			<td><span class="red">kw</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">16</span></td>
			<td><span class="red">meza</span><span class="blue">-ni</span></td>
			<td><span class="red">pa</span><span class="blue">zuri</span></td>
			<td><span class="red">pa-</span></td>
			<td><span class="red">pa</span></td>
			<td><span class="red">p</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">17</span></td>
			<td><span class="red">meza</span><span class="blue">-ni</span></td>
			<td><span class="red">ku</span><span class="blue">zuri</span></td>
			<td><span class="red">ku-</span></td>
			<td><span class="red">kwa</span></td>
			<td><span class="red">kw</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">18</span></td>
			<td><span class="red">meza</span><span class="blue">-ni</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">m(u)-</span></td>
			<td><span class="red">mwa</span></td>
			<td><span class="red">mw</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><span class="red">This section is under construction... please check back later.</span></p>
</div>