<div class="post">
	<div class="title">
		<h2 id="nounclass">Noun Classes</h2>
	</div>
	
	<p>Noun classes are probably one of the hardest parts of learning a bantu language (which Kiswahili is).  The good thing is, you have probably been doing this (to some degree) already!</p>
	<p>To start out, I will provide you with a scary chart that has everything you need to know about the basics of noun classes (Note:  We will focus on classes 1-10 since they are used most commonly):</p>
	
	<table id="nounclasses" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adj.</td>
			<td>Prefix</td>
			<td>Negation</td>
			<td>-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">3</span></td>
			<td><span class="red">m</span><span class="blue">ti</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">hau-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">4</span></td>
			<td><span class="red">mi</span><span class="blue">ti</span></td>
			<td><span class="red">mi</span><span class="blue">zuri</span></td>
			<td><span class="red">i-</span></td>
			<td><span class="red">hai-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">5</span></td>
			<td><span class="black">*</span><span class="red">Ø-</span><span class="blue">jina</span></td>
			<td><span class="black">*</span><span class="red">Ø-</span><span class="blue">zuri</span></td>
			<td><span class="red">li-</span></td>
			<td><span class="red">hali-</span></td>
			<td><span class="red">la</span></td>
			<td><span class="red">l</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">6</span></td>
			<td><span class="red">ma</span><span class="blue">jina</span></td>
			<td><span class="red">ma</span><span class="blue">zuri</span></td>
			<td><span class="red">ya-</span></td>
			<td><span class="red">haya-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">7</span></td>
			<td><span class="red">ki</span><span class="blue">tu</span></td>
			<td><span class="red">ki</span><span class="blue">zuri</span></td>
			<td><span class="red">ki-</span></td>
			<td><span class="red">haki-</span></td>
			<td><span class="red">cha</span></td>
			<td><span class="red">ch</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">8</span></td>
			<td><span class="red">vi</span><span class="blue">tu</span></td>
			<td><span class="red">vi</span><span class="blue">zuri</span></td>
			<td><span class="red">vi-</span></td>
			<td><span class="red">havi-</span></td>
			<td><span class="red">vya</span></td>
			<td><span class="red">vy</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">9</span></td>
			<td><span class="black">**</span><span class="red">n</span><span class="blue">dizi</span></td>
			<td><span class="red">n</span><span class="blue">zuri</span></td>
			<td><span class="red">i-</span></td>
			<td><span class="red">hai-</span></td>
			<td><span class="red">ya</span></td>
			<td><span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">10</span></td>
			<td><span class="black">**</span><span class="red">n</span><span class="blue">dizi</span></td>
			<td><span class="red">n</span><span class="blue">zuri</span></td>
			<td><span class="red">zi-</span></td>
			<td><span class="red">hazi-</span></td>
			<td><span class="red">za</span></td>
			<td><span class="red">z</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">11</span></td>
			<td><span class="red">u</span><span class="blue">limi</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">hau-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">14</span></td>
			<td><span class="red">u</span><span class="blue">huru</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">u-</span></td>
			<td><span class="red">hau-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">15</span></td>
			<td><span class="red">ku</span><span class="blue">taka</span></td>
			<td><span class="red">ku</span><span class="blue">zuri</span></td>
			<td><span class="red">ku-</span></td>
			<td><span class="red">haku-</span></td>
			<td><span class="red">kwa</span></td>
			<td><span class="red">kw</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">16</span></td>
			<td><span class="red">meza</span><span class="blue">ni</span></td>
			<td><span class="red">pa</span><span class="blue">zuri</span></td>
			<td><span class="red">pa-</span></td>
			<td><span class="red">hapa-</span></td>
			<td><span class="red">pa</span></td>
			<td><span class="red">p</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">17</span></td>
			<td><span class="red">meza</span><span class="blue">ni</span></td>
			<td><span class="red">ku</span><span class="blue">zuri</span></td>
			<td><span class="red">ku-</span></td>
			<td><span class="red">haku-</span></td>
			<td><span class="red">kwa</span></td>
			<td><span class="red">kw</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">18</span></td>
			<td><span class="red">meza</span><span class="blue">ni</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">m(u)-</span></td>
			<td><span class="red">ham(u)-</span></td>
			<td><span class="red">mwa</span></td>
			<td><span class="red">mw</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>Now that we got the scary part out of the way, let us start breaking down the columns to make sense of this mystery.  Keep in mind, eventually you will need to more-or-less memorize this whole table.  Luckily most of them follow a pattern and you will pick up a lot of the most common noun classes through repetition during your studies.</p>
	<br>
	
	<div class="subtitle">
		<h4 id="determiningclass">Which nouns go to which class?</h4>
	</div>
	
	<p>I will start by breaking down what each column means, with examples and explaination.  Take the first two noun classes (1 and 2).  We will start with the <span class="black">Noun</span> column:</p>
	
	<table id="determiningclasschart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td class="blue">Noun</td>
			<td>Adj.</td>
			<td>Prefix</td>
			<td>Negation</td>
			<td>-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td class="blue"><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td class="blue"><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>The <span class="black">Noun</span> column is simply an example of the type of nouns that fall into these categories.  For the first 10 noun classes, the classes are grouped in pairs:  1 & 2, 3 & 4, 5 & 6, 7 & 8, 9 & 10; where the first class is for singular words, and the second class is for the plural.</p>
	<p>In this example, the word used was "<span class="red">m</span><span class="blue">tu</span>" meaning "person", with the plural "<span class="red">wa</span><span class="blue">tu</span>" meaning "people".</p>
	<p>It should be noted that I color coated the prefix that changes between the singular and plurals in <span class="red">red</span> with the root of the word in <span class="blue">blue</span>.  This is because the noun classes are most easily recognized by their prefixes (especially the plural form prefix!)  For example:</p>
	
	<ul>
		<li><span class="blue">Class 1 & 2</span><span class="black"> = </span> <span class="red">m-</span><span class="black">/</span><span class="red"><u>wa-</u></span></li>
		<li><span class="blue">Class 3 & 4</span><span class="black"> = </span> <span class="red">m-</span><span class="black">/</span><span class="red"><u>mi-</u></span></li>
		<li><span class="blue">Class 5 & 6</span><span class="black"> = </span> <span class="black">*</span><span class="red">Ø-</span><span class="black">/</span><span class="red"><u>ma-</u></span></li>
		<li><span class="blue">Class 7 & 8</span><span class="black"> = </span> <span class="red">ki-</span><span class="black">/</span><span class="red"><u>vi-</u></span></li>
		<li><span class="blue">Class 9 & 10</span><span class="black"> = </span> <span class="black">**</span><span class="red">n-</span><span class="black">/</span><span class="red"><u>n-</u></span></li>
	</ul>
	
	<p>As you can see, by following the patterns in the prefixes of nouns (specifically the prefix of the plural), you can identify which class you should be using.</p>
	<p><span class="black">*NOTE:</span> For <span class="blue">Class 5</span>, we use the symbol "<span class="red">Ø</span>".  This symbol is used because <span class="blue">Class 5</span> nouns may take different prefixes(or possible none at all).  This is another reason why you should classify these nouns by their plural prefix of <span class="red">ma</span>.</p> 
	<p><span class="black">**Note:</span> <span class="blue">Class 9 & 10</span> nouns are the same for the singular and plural.  For instance, in English we can have one "sheep" or many "sheep".  There is no plural such as "sheeps".  These noun classes behave the same way.  The example used above is "<span class="red">n</span><span class="blue">dizi</span>" meaning one or more "banana(s)".</p>
	<br>
	
	<div class="subtitle">
		<h4 id="adjectives">Adjective Prefixes</h4>
	</div>
	
	<p>Now that we know how to identify which class we put nouns into, we can begin using the other columns in the chart.  Up next we have Adjectives.  In Kiswahili, nearly all adjectives take a prefix and occur AFTER the noun of which they modify.  The chart uses the example of "<span class="blue">-zuri</span>" being the root word meaning "good; great; beautiful":</p>

	<table id="adjectiveschart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td class="blue">Adj.</td>
			<td>Prefix</td>
			<td>Negation</td>
			<td>-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td class="blue"><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td class="blue"><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>Unfortuntely, this part requires some memorization.  For each noun class, there is a different prefix that is used for adjectives describing a noun within that class.  Luckily, for the first 10 noun classes, the prefix of the noun is also the prefix for adjectives.  (This is purely by coincidence, but its helpful for remembering).</p>
	<p>For example, to say "the good people", we look up the word "people" and find "<span class="red">wa</span><span class="blue">tu</span>".  Since the prefix is <span class="red">wa-</span>, we know it is in <span class="blue">Class 2</span>.  Then we look up the adjective for "good" and find <span class="blue">-zuri</span>.  Lastly, we remember (or consult the lovely chart) to find the prefix for <span class="blue">Class 2</span> adjectives is coincidentally also "<span class="red">wa-</span>".  Now we put it all together: <span class="red">wa</span><span class="blue">tu</span> <span class="red">wa</span><span class="blue">zuri</span>.</p>
	<p><span class="black">*NOTE:</span> A very important exception to this rule applies here for all animate nouns (nouns that describe living things -- such as humans, animals, etc).  All animate things (even when they are in a different class), use the <span class="red">m-</span> or <span class="red">wa-</span> adjective prefixes from <span class="blue">Class 1 or 2</span> respectively.  This is just something you need to know.  Here is a common example:</p>
	<p><span class="blue">Rafiki</span> (the word for "friend(s)") is a word in <span class="blue">Class 9 & 10</span> (the singular and plural are the same).  Normally, <span class="blue">Class 9 & 10</span> would use <span class="red">n-</span> for both singular and plural, but since friends are living people, they use <span class="red">m-</span> and <span class="red">wa-</span>.  So if you have a "good friend", you would have: <span class="blue">Rafiki m</span>zuri.</p>
	
	<br>
	
	<div class="subtitle">
		<h4 id="verbsubjectprefixes">Verb/Subject Prefixes</h4>
	</div>
	
	<p>This next part should look very, very similar to you, because it is what we have been doing to conjugate verbs for <a href="#pronouns">Pronouns</a>.  Basically whenever you use a noun as a subject, instead of using "<span class="blue">ni</span>", "<span class="blue">u</span>", "<span class="blue">a</span>", etc. we will use the prefix from the chart.  This can be applied to verb conjugations, <a href="#objects">Object Prefixes</a>, <a href="#places">Places</a>, etc.</p>
	
	<table id="adjectiveschart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adj.</td>
			<td class="blue">Prefix</td>
			<td>Negation</td>
			<td>-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td class="blue"><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td class="blue"><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p>The easiest way to see this is to compare <span class="blue">Class 1</span> nouns with <span class="blue">yeye</span>.  Since <span class="blue">yeye</span> is the third-person pronoun, it can be used to replace most of the nouns from <span class="blue">Class 1</span> because it contains people words.</p>
	<p>If you look in the chart, you will notice that <span class="blue">Class 1</span> and <span class="blue">yeye</span> take the same prefix:  <span class="red">a-</span> (or <span class="red">yu-</span> for <a href="#places">Places</a>).
	<p>This can be very easily explained with an example.  For instance, if you said: "he sings", you know "he" is "<span class="blue">yeye</span>" and "sing" is "-imba", so you form the sentence:  <span class="blue">Yeye a</span><span class="red">na</span>imba.</p>
	<p>Now imagine that you want to say "the child sings".  You know the word for "sing" ("-imba").  You know the word for "child" ("mtoto").  But now what?  Well, similarly to adjectives, you determine <span class="red">m</span><span class="blue">toto</span> is <span class="blue">Class 1</span> because it is the singular of <span class="red">m</span><span class="blue">toto</span>/<span class="red">wa</span><span class="blue">toto</span> which matches the first pair of classes: <span class="red">m</span>/<span class="red">wa</span>.  Then you look into the table and see <span class="blue">Class 1</span> uses the prefix <span class="red">a-</span>.  This produces the sentence: <span class="blue">Mtoto a</span><span class="red">na</span>imba.
	<p>You can apply this same process for any noun.  Just determine what class it is from, and use the prefix in the table for the appropriate class instead of the <span class="red">a-</span> in this example.</p>
	<p><span class="black">*NOTE:</span> There is one, very important exception to this rule for all animate nouns (nouns that describe living things -- such as humans, animals, etc).  All animate things (even when they are in a different class), use the <span class="red">a-</span> or <span class="red">wa-</span> prefixes from <span class="blue">Class 1 or 2</span> respectively.  This is just something you need to know.  Here is a common example:</p>
	<p><span class="blue">Rafiki</span> (the word for "friend(s)") is a word in <span class="blue">Class 9 & 10</span> (the singular and plural are the same).  Normally, <span class="blue">Class 9 & 10</span> would use <span class="red">i-</span> and <span class="red">zi-</span>, but since friends are living people, they use <span class="red">a-</span> and <span class="red">wa-</span>.  So if your "friend sings", you would have: <span class="blue">Rafiki a</span><span class="red">na</span>imba.</p>

	<br>
	<div class="subtitle">
		<h4 id="negationverbsubjectprefixes">Negation Verb/Subject Prefixes</h4>
	</div>
	
	<p>These function basically the same was as <a href="#negation">Negation</a>, and follow the same pattern mentioned above (in terms of how you find which prefix to use).  So I am just gonna give you an example:</p>
	<br>
	
	<table id="negationchart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adj.</td>
			<td>Prefix</td>
			<td class="blue">Negation</td>
			<td>-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td class="blue"><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td class="blue"><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>Imagine that you now want to say "the child does not sing".  You know the word for "sing" ("-imba").  You know the word for "child" ("mtoto").  But now what?  Well, similarly to adjectives, you determine <span class="red">m</span><span class="blue">toto</span> is <span class="blue">Class 1</span> because it is the singular of <span class="red">m</span><span class="blue">toto</span>/<span class="red">wa</span><span class="blue">toto</span> which matches the first pair of classes: <span class="red">m</span>/<span class="red">wa</span>.  Then you look into the table and see <span class="blue">Class 1</span> uses the negation prefix <span class="red">ha-</span>.  This produces the sentence: <span class="blue">Mtoto ha</span>imb<span class="red">i</span>.
	
	<p><span class="black">*NOTE:</span> The same, very important exception to this rule applies here too, for all animate nouns (nouns that describe living things -- such as humans, animals, etc).  All animate things (even when they are in a different class), use the <span class="red">ha-</span> or <span class="red">hawa-</span> negation prefixes from <span class="blue">Class 1 or 2</span> respectively.  This is just something you need to know.  Here is a common example:</p>
	<p><span class="blue">Rafiki</span> (the word for "friend(s)") is a word in <span class="blue">Class 9 & 10</span> (the singular and plural are the same).  Normally, <span class="blue">Class 9 & 10</span> would use <span class="red">hai-</span> and <span class="red">hazi-</span>, but since friends are living people, they use <span class="red">ha-</span> and <span class="red">hawa-</span>.  So if your "friend does not sings", you would have: <span class="blue">Rafiki ha</span>imb<span class="red">i</span>.</p>
	
	<br>
	<div class="subtitle">
		<h4 id="of">Of</h4>
	</div>
	
	<p>This may seem kind of silly to an English speaker, but the word "of" changes based on the noun it follows. The root for "of" is technically <span class="red">-a</span>, so you will notice the prefixes will more-or-less match the prefixes we used for adjectives.  But they are NOT always the same, so it is best to just learn these seperately (most of them are 2 or 3 letter words anyhow).</p>
	<p>As always, I will present you with an example that should be pretty self-explainitory:</p>
	<br>
	
	<table id="ofchart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adj.</td>
			<td>Prefix</td>
			<td>Negation</td>
			<td class="blue">-a (of)</td>
			<td>Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td class="blue"><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td class="blue"><span class="red">wa</span></td>
			<td><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>Let's say you want to write the sentence "the child of Bob".  We know "child" is "<span class="red">m</span><span class="blue">toto</span>". Well, similarly to above, you determine <span class="red">m</span><span class="blue">toto</span> is <span class="blue">Class 1</span> because it is the singular of <span class="red">m</span><span class="blue">toto</span>/<span class="red">wa</span><span class="blue">toto</span> which matches the first pair of classes: <span class="red">m</span>/<span class="red">wa</span>.  Then you look into the table and find the appropriate word for "of" being <span class="red">wa</span>.  Then you put it all together to get: <span class="red">m</span><span class="blue">toto</span> <span class="red">wa</span> Bob.</p>
	<p><span class="black">*NOTE:</span> A very important exception to this rule applies here too, for all animate nouns (nouns that describe living things -- such as humans, animals, etc).  All animate things (even when they are in a different class), use the <span class="red">wa</span> version for "of" from <span class="blue">Class 1 or 2</span>.  This is just something you need to know.  Here is a common example:</p>
	<p><span class="blue">Rafiki</span> (the word for "friend(s)") is a word in <span class="blue">Class 9 & 10</span> (the singular and plural are the same).  Normally, <span class="blue">Class 9 & 10</span> would use <span class="red">ya</span> or <span class="red">za</span> respectively, but since friends are living people, they use <span class="red">wa</span>.  So if there is a "friend of Bob", you would have: <span class="blue">Rafiki</span> <span class="red">wa</span> Bob.</p>
	
	<br>
	<div class="subtitle">
		<h4 id="possessiveclasses">Possessives</h4>
	</div>
	
	<p>If you aren't familiar with the root words for possessives, review them here: <a href="#possessives">Possessives</a>.  Possessives for noun classes work the same way, except they will use the prefixes from the table.  (Note:  These ones ARE the same as the "of" words.  Maybe that will make it easier to remember.  Or else just learn them seperately).
	<p>Once again, I will leave you with a simple example that should be self-explainitory:</p>
	<br>
	
	<table id="possessiveclasseschart" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>Adj.</td>
			<td>Prefix</td>
			<td>Negation</td>
			<td>-a (of)</td>
			<td class="blue">Poss.</td>
		</tr>
		<tr>
			<td><span class="blue">1</span></td>
			<td><span class="red">m</span><span class="blue">tu</span></td>
			<td><span class="red">m</span><span class="blue">zuri</span></td>
			<td><span class="red">a-</span>/<span class="red">yu-</span><span class="black">*</span></td>
			<td><span class="red">ha-</span>/<span class="red">hayu-</span><span class="black">*</span></td>
			<td><span class="red">wa</span></td>
			<td class="blue"><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
		<tr>
			<td><span class="blue">2</span></td>
			<td><span class="red">wa</span><span class="blue">tu</span></td>
			<td><span class="red">wa</span><span class="blue">zuri</span></td>
			<td><span class="red">wa-</span></td>
			<td><span class="red">hawa-</span></td>
			<td><span class="red">wa</span></td>
			<td class="blue"><span class="red">w</span><span class="blue">angu</span></td>
		</tr>
	</table>
	
	<p><br>Let's say you want to write the sentence "my child".  We know "my" is translated to the base word of "<span class="blue">-angu</span>".  We know "child" is "<span class="red">m</span><span class="blue">toto</span>". Well, similarly to above, you determine <span class="red">m</span><span class="blue">toto</span> is <span class="blue">Class 1</span> because it is the singular of <span class="red">m</span><span class="blue">toto</span>/<span class="red">wa</span><span class="blue">toto</span> which matches the first pair of classes: <span class="red">m</span>/<span class="red">wa</span>.  Then you look into the table and find the appropriate possessive prefix <span class="red">w-</span>.  Then you put it all together to get: <span class="red">m</span><span class="blue">toto</span> <span class="red">w</span><span class="blue">angu</span>.</p>
	<p><span class="black">*NOTE:</span> The most complicated (but similar to exceptions above) applies here for SOME animate nouns (nouns that describe living things -- such as humans, animals, etc).  Animate nouns that are NOT in <span class="blue">Class 9 & 10</span>, use the <span class="red">w-</span> possessive prefixes from <span class="blue">Class 1 or 2</span> respectively.  REMEMBER:  This does NOT apply to <span class="blue">Class 9 & 10</span>.  This is just something you need to know.  Here is an example to distingush:</p>
	
	<table  id="possessivesexceptions" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Class</td>
			<td>Noun</td>
			<td>English</td>
			<td>Example</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">9</span></td>
			<td><span class="blue">Rafiki (sg.)</span></td>
			<td><span class="black">My friend</span></td>
			<td><span class="blue">Rafiki</span> <span class="red">y</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">10 (or 6)</span></td>
			<td><span class="blue">Rafiki (pl.)</span></td>
			<td><span class="black">My friends</span></td>
			<td><span class="blue">Rafiki</span> <span class="red">z</span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">7</span></td>
			<td><span class="blue">kiongozi</span></td>
			<td><span class="black">My leader</span></td>
			<td><span class="blue">Kiongozi</span> <span class="red"><u>w</u></span><span class="blue">angu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">8</span></td>
			<td><span class="blue">viongozi</span></td>
			<td><span class="black">My leaders</span></td>
			<td><span class="blue">Viongozi</span> <span class="red"><u>w</u></span><span class="blue">angu</span></td>
		</tr>
	</table>
	
</div>
