<div class="post">
	<div class="title">
		<h2 id="numbers">Numbers</h2>
	</div>
	
	<div class="entry">
		<p>The basic numbers 0-10 are pretty simple:</p>
		
		<table id="numbers" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Number</td>
				<td>Kiswahili</td>
			</tr>
			<tr class="highlight">
				<td>0</td>
				<td><span class="blue">sifuri</span></td>
			</tr>
			<tr class="highlight">
				<td>1</td>
				<td><span class="blue">moja*</span></td>
			</tr>
			<tr class="highlight">
				<td>2</td>
				<td><span class="blue">mbili*</span></td>
			</tr>
			<tr class="highlight">
				<td>3</td>
				<td><span class="blue">tatu</span></td>
			</tr>
			<tr class="highlight">
				<td>4</td>
				<td><span class="blue">nne</span></td>
			</tr>
			<tr class="highlight">
				<td>5</td>
				<td><span class="blue">tano</span></td>
			</tr>
			<tr class="highlight">
				<td>6</td>
				<td><span class="blue">sita</span></td>
			</tr>
			<tr class="highlight">
				<td>7</td>
				<td><span class="blue">saba</span></td>
			</tr>
			<tr class="highlight">
				<td>8</td>
				<td><span class="blue">nane</span></td>
			</tr>
			<tr class="highlight">
				<td>9</td>
				<td><span class="blue">tisa</span></td>
			</tr>
			<tr class="highlight">
				<td>10</td>
				<td><span class="blue">kumi</span></td>
			</tr>
		</table>
		
		<p>*Note: Cardinal numbers "one" and "two" are equivalent to "moja" and "mbili".  However, when using ordinal numbers (first, second, third... etc), "first" and "second" correspond to "kwanza" and "pili".  All other numbers are the same for both cardinal and ordinal numbers.</p>
		<br>
		<p>For numbers 11 to 19, you use the form <table style="display:inline-table;" border="0" cellpading="0" cellspacing="0"><tr class="highlight"><td><span class="red">kumi</span> <span class="blue">na moja</span></td></tr></table>.  This is pretty logical since it basically says "ten and one", or "eleven" in English.
		
		<table id="numbers11to19" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Number</td>
				<td>Kiswahili</td>
			</tr>
			<tr class="highlight">
				<td>11</td>
				<td><span class="red">kumi</span><span class="blue"> na moja</span></td>
			</tr>
			<tr class="highlight">
				<td>12</td>
				<td><span class="red">kumi</span><span class="blue"> na mbili</span></td>
			</tr>
			<tr class="highlight">
				<td>13</td>
				<td><span class="red">kumi</span><span class="blue"> na tatu</span></td>
			</tr>
			<tr class="highlight">
				<td>14</td>
				<td><span class="red">kumi</span><span class="blue"> na nne</span></td>
			</tr>
			<tr class="highlight">
				<td>15</td>
				<td><span class="red">kumi</span><span class="blue"> na tano</span></td>
			</tr>
			<tr class="highlight">
				<td>16</td>
				<td><span class="red">kumi</span><span class="blue"> na sita</span></td>
			</tr>
			<tr class="highlight">
				<td>17</td>
				<td><span class="red">kumi</span><span class="blue"> na saba</span></td>
			</tr>
			<tr class="highlight">
				<td>18</td>
				<td><span class="red">kumi</span><span class="blue"> na nane</span></td>
			</tr>
			<tr class="highlight">
				<td>19</td>
				<td><span class="red">kumi</span><span class="blue"> na tisa</span></td>
			</tr>
		</table>
		
		<br>
		<p>For the tens column (20, 30, 40, ... 90) things get REALLY weird.  Some of these have roots from the basic 1-9 numbers, but a handful are borrowed from Arabic so all bets are off.  Just memorize these.  Sorry.  However I do my best to use <span class="blue">blue</span> to show any roots that stem form the earlier numbers.</p>
		<p><br><br>Note: You just use "na" to join on more numbers ("thousands" na "hundrends" na "tens" na "ones").  For example, twenty-one (21) is written as "twenty and one" or <table style="display:inline-table;" border="0" cellpading="0" cellspacing="0"><tr class="highlight"><td><span class="red">ishirini</span> <span class="blue">na moja</span></td></tr></table></p>
		
		<table id="numbers11to19" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Number</td>
				<td>Kiswahili</td>
			</tr>
			<tr class="highlight">
				<td>20</td>
				<td><span class="red">ishirini</span></td>
			</tr>
			<tr class="highlight">
				<td>30</td>
				<td><span class="red">thelathini</span></td>
			</tr>
			<tr class="highlight">
				<td>40</td>
				<td><span class="red">arobaini</span></td>
			</tr>
			<tr class="highlight">
				<td>50</td>
				<td><span class="red">hamsini</span></td>
			</tr>
			<tr class="highlight">
				<td>60</td>
				<td><span class="blue">sit</span><span class="red">ini</span></td>
			</tr>
			<tr class="highlight">
				<td>70</td>
				<td><span class="blue">sab</span><span class="red">ini</span></td>
			</tr>
			<tr class="highlight">
				<td>80</td>
				<td><span class="red">themanini</span></td>
			</tr>
			<tr class="highlight">
				<td>90</td>
				<td><span class="blue">tis</span><span class="red">ini</span></td>
			</tr>
		</table>
		
		<br>
		<p>The hundreds column (100, 200, 300 ... 900) follow a nice trend.  They use the word "mia" or "hundred".  So "mia moja" is equivalent to "one hundred".</p>
		
		<table id="numbers100to900" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Number</td>
				<td>Kiswahili</td>
			</tr>
			<tr class="highlight">
				<td>100</td>
				<td><span class="red">mia</span><span class="blue"> moja</span></td>
			</tr>
			<tr class="highlight">
				<td>200</td>
				<td><span class="red">mia</span><span class="blue"> mbili</span></td>
			</tr>
			<tr class="highlight">
				<td>300</td>
				<td><span class="red">mia</span><span class="blue"> tatu</span></td>
			</tr>
			<tr class="highlight">
				<td>400</td>
				<td><span class="red">mia</span><span class="blue"> nne</span></td>
			</tr>
			<tr class="highlight">
				<td>500</td>
				<td><span class="red">mia</span><span class="blue"> tano</span></td>
			</tr>
			<tr class="highlight">
				<td>600</td>
				<td><span class="red">mia</span><span class="blue"> sita</span></td>
			</tr>
			<tr class="highlight">
				<td>700</td>
				<td><span class="red">mia</span><span class="blue"> saba</span></td>
			</tr>
			<tr class="highlight">
				<td>800</td>
				<td><span class="red">mia</span><span class="blue"> nane</span></td>
			</tr>
			<tr class="highlight">
				<td>900</td>
				<td><span class="red">mia</span><span class="blue"> tisa</span></td>
			</tr>
		</table>
		
		<br>
		<p>The thousands column (1000, 2000, 3000, ... 9000) behave very similar to the hundreds, except they use the word "elfu" or "thousand".  So "elfu moja" translates to "one thousand".</p>
		
		<table id="numbers1000to9000" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Number</td>
				<td>Kiswahili</td>
			</tr>
			<tr class="highlight">
				<td>1000</td>
				<td><span class="red">elfu</span><span class="blue"> moja</span></td>
			</tr>
			<tr class="highlight">
				<td>2000</td>
				<td><span class="red">elfu</span><span class="blue"> mbili</span></td>
			</tr>
			<tr class="highlight">
				<td>3000</td>
				<td><span class="red">elfu</span><span class="blue"> tatu</span></td>
			</tr>
			<tr class="highlight">
				<td>4000</td>
				<td><span class="red">elfu</span><span class="blue"> nne</span></td>
			</tr>
			<tr class="highlight">
				<td>5000</td>
				<td><span class="red">elfu</span><span class="blue"> tano</span></td>
			</tr>
			<tr class="highlight">
				<td>6000</td>
				<td><span class="red">elfu</span><span class="blue"> sita</span></td>
			</tr>
			<tr class="highlight">
				<td>7000</td>
				<td><span class="red">elfu</span><span class="blue"> saba</span></td>
			</tr>
			<tr class="highlight">
				<td>8000</td>
				<td><span class="red">elfu</span><span class="blue"> nane</span></td>
			</tr>
			<tr class="highlight">
				<td>9000</td>
				<td><span class="red">elfu</span><span class="blue"> tisa</span></td>
			</tr>
		</table>
	</div>
</div>