<div class="post">
	<div class="title">
		<h2 id="objects">Object Prefixes</h2>
	</div>
	<p>
		When taking a direct/indirect object in Kiswahili, they add another prefix after the tense prefix.
		<br><br>Some examples of this would be "reading TO someone", or "cooking FOR someone".  You can <i>technically</i> use this form on any verb, but it doesn't always make sense.  You usually cannot "sleep FOR someone" for example  It just doesn't make much sense.
		<br><br>*NOTE: If you wanted to do an action to yourself, such as "cook FOR yourself", then use the <a href="#reflexive">Reflexive</a>.
		<br><br>If you recall from earlier lessons, we usually form verbs like so:<br><span class="blue">Pronoun Prefix</span> + <span class="red">Tense Prefix</span> + Verb Root
		<br><br>We will form the new verbs like so:<br><span class="blue">Pronoun Prefix</span> + <span class="red">Tense Prefix</span> + <span class="green">Object Prefix</span> + Modified Verb
		<br><br>Before some explanation and examples, we will provide you with some charts:<br><br>
	</p>
	
	<p>The first chart shows the new prefix.  Half of them are the same as the pronoun prefix, the other half are different.  I denote the different ones using <span class="red">red</span>.</p>
	
	<table id="objectprefixes" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Pronoun</td>
			<td>Pronoun Prefix</td>
			<td>Object Prefix</td>
		</tr>
		<tr class="highlight">
			<td>mimi</td>
			<td><span class="blue">ni</span></td>
			<td><span class="green">ni</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="red">wewe<span></td>
			<td><span class="blue">u</span></td>
			<td><span class="green">ku</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="red">yeye<span></td>
			<td><span class="blue">a</span></td>
			<td><span class="green">m</span></td>
		</tr>
		<tr class="highlight">
			<td>sisi</td>
			<td><span class="blue">tu</span></td>
			<td><span class="green">tu</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="red">ninyi<span></td>
			<td><span class="blue">m</span></td>
			<td><span class="green">wa</span></td>
		</tr>
		<tr class="highlight">
			<td>wao</td>
			<td><span class="blue">wa</span></td>
			<td><span class="green">wa</span></td>
		</tr>
	</table>
	
	<p>
		<br>This next chart will make more sense with some examples, but when using this form you have two different types of ending changes for your verbs.
		<br><br>The first is <span class="red">-ia</span> and the other is <span class="red">-ea</span>.  To determine which to use, check the word for the main vowel that you pronounce (usually this is the first).<br><br>For example, take "-sema" and "-pika", the main vowels in each are: "-s<span class="red"><b><u>e</u></b></span>ma" and "-p<span class="red"><b><u>i</u></b></span>ka".
		<br><br>You use the chart below to determine which ending to use based on the root vowel:<br>
	</p>
	
	<table id="objectprefixendings" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Root Verb Vowel</td>
			<td>Ending</td>
		</tr>
		<tr class="highlight">
			<td>i, a, u</td>
			<td><span class="red">-ia</span></td>
		</tr>
		<tr class="highlight">
			<td>e, o</td>
			<td><span class="red">-ea</span></td>
		</tr>
	</table>
	
	<p><br>Following this chart, "-sema" becomes "-sem<span class="red">ea</span>" and "-pika" becomes "-pik<span class="red">ia</span>".  To use these in some sentences:<br></p>
	
	<table id="objectprefixexample" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>English</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td>I cook for you.</td>
			<td>Mimi <span class="blue">ni</span><span class="red">na</span><span class="green">ku</span>pik<span class="red">ia</span>.</td>
		</tr>
		<tr class="highlight">
			<td>I read to you (pl.).</td>
			<td>Mimi <span class="blue">ni</span><span class="red">li</span><span class="green">wa</span>sem<span class="red">ea</span>.</td>
		</tr>
		<tr class="highlight">
			<td>They will cook fish for me.</td>
			<td>Wao <span class="blue">wa</span><span class="red">ta</span><span class="green">ni</span>pik<span class="red">ia</span> samaki.</td>
		</tr>
		<tr class="highlight">
			<td>He reads to us.</td>
			<td>Yeye <span class="blue">a</span><span class="red">na</span><span class="green">tu</span>sem<span class="red">ea</span> sisi.</td>
		</tr>
	</table>
	
	<p>
		<br>*NOTE:  In the fourth sentence, the "sisi" is optional.  The <span class="green">tu</span> identifies that the action is being done "to us", but we can add "sisi" for clarity as necessary.
		<br><br>There is one more thing to note: when forming this new verb form, if the verb would end in a vowel you add an <span class="blue">L</span> before the ending from the chart above.  This helps with pronunciation.
		<br><br>For instance, take the verb "-nunua".  Following the rules from above, "-n<span class="red"><b><u>u</b></u></span>nua" would become "-nun<span class="red">uia</span>".  Pronouncing this is a little odd with the triple vowel, so we add an <span class="blue">L</span> to make it simpler to say: "-nunu<span class="blue">l</span><span class="red">ia<span>".
	</p>
</div>