<div class="post">
	<div class="title">
		<h2 id="passive">Passive Voice</h2>
	</div>
	
	<p>Much like in English, Kiswahili also has passive voice.  Passive Voice is described as a sentence in which the object is the subject.  (Yeah, confusing right?)  Well, not really.  With an example, it becomes much more clear:</p>
	<p><br>Take the following example:</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <span class="blue">child</span> <span class="green">cooks</span> <span class="red">pizza</span>.</p>
	<p>As you can see, the subject is the <span class="blue">"child"</span>.  The verb is the action of <span class="green">"cooking"</span>.  And the object is the <span class="red">"pizza"</span> (the thing being cooked).</p>
	
	<p><br>Another way you could say this would be by reversing the <span class="blue">subject</span>/<span class="red">object</span> and using introducing the verb "to be":</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The <span class="blue">pizza</span> <span class="green">is cooked</span> by the <span class="red">child</span>.</p>
	<p>Now, as you can clearly see, the subject is the <span class="blue">pizza</span> and the object is the <span class="red">child</span>.  This is called the Passive Voice.  The child is still technically doing the <span class="green">"cooking"</span>, except now the thing being cooked (<span class="blue">pizza</span>) is the subject of the sentence.</p>

	<p><br>Finally time for some Kiswahili.  They use it very similarly to English, however instead of adding "to be" as seen in the examplse above, Kiswahili adds a suffix to the verb.</p>
	<p>The passive voice is formed by adding the one of the following suffixes to your verb:  <span class="red">-wa</span>, <span class="red">-liwa</span>, and <span class="red">lewa</span>.  This vary based on the root vowel of the verb.</p>
	<p><br><b>*NOTE:</b> The patterns for the suffixes are similar to the <a href="#objects">Object Prefixes</a>.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For convience I'll map them out here:</p>
	
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. If the root-verb ends in a consonant:</p>
	<table id="passiveconsonantendings" style="margin-left:105px" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Consonant</td>
			<td>Ending</td>
		</tr>
		<tr class="highlight">
			<td>Any Consonant Ending</td>
			<td><span class="red">-wa</span></td>
		</tr>
	</table>
	
	<p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. If the root-verb ends in a vowel, analyze the ROOT vowel:</p>
	<table id="passivevowelendings" style="margin-left:105px" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Root Verb Vowel</td>
			<td>Ending</td>
		</tr>
		<tr class="highlight">
			<td>i, a, u</td>
			<td><span class="red">-liwa</span></td>
		</tr>
		<tr class="highlight">
			<td>e, o</td>
			<td><span class="red">-lewa</span></td>
		</tr>
	</table>
	
	<p><br><br>Lastly, for the good stuff.  Here is an active/passive example in Kiswahili using the same sentence as the English ones above:</p>
	<table id="passivevoice" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Active/Passive</td>
			<td>Kiswahili</td>
			<td>English</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">Active</span></td>
			<td><span class="blue">Mtoto</span> anapika <span class="red">piza</span>.</td>
			<td>The child cooks pizza.</td>
		</tr>
		<tr class="highlight">
			<td><span class="red">Passive</span></td>
			<td><span class="blue">Piza</span> anapik<span class="red">wa</span> na <span class="red">mtoto</span>.</td>
			<td>The pizza is cooked by the child.</td>
		</tr>
	</table>
</div>