<div class="post">
	<div class="title">
		<h2 id="places">Places</h2>
	</div>
	
	<p>To talk about location, you will use three types of words.  Their roots are "<span class="red">-po</span>", "<span class="red">-ko</span>", and "<span class="red">-mo</span>".</p>
	<p>We will start with their usages/meaning:</p>
	
	<table id="pokomo" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Kiswahili</td>
			<td>Meaning/Usage</td>
		</tr>
		<tr class="highlight">
			<td><span class="red">-po</span></td>
			<td><span class="blue">Specific location ("is right here")</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="red">-ko</span></td>
			<td><span class="blue">General location ("is at/is on")</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="red">-mo</span></td>
			<td><span class="blue">Internal location ("is inside of")</span></td>
		</tr>
	</table>
	
	<p><br>The format for these are:</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">pronoun prefix</span> <span class="black">+</span> <span class="red">-po</span><span class="black">/</span><span class="red">-ko</span><span class="black">/</span><span class="red">-mo</span></p>

	<p><br>Here are some examples in present tense:</p>
	
	<table id="pokomopresent" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Pronoun</td>
			<td><span class="red">-po</span>/<span class="red">-ko</span>/<span class="red">-mo</span></td>
			<td>Present (+)</td>
			<td>Negation (-)</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">mimi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">ni</span><span class="red">po</span></td>
			<td><span class="blue">si</span><span class="red">po</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wewe</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">u</span><span class="red">ko</span></td>
			<td><span class="blue">hu</span><span class="red">ko</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">yeye*</span></td>
			<td><span class="red">-mo</span></td>
			<td><span class="blue">yu</span><span class="red">mo*</span></td>
			<td><span class="blue">hayu</span><span class="red">mo*</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">sisi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">tu</span><span class="red">po</span></td>
			<td><span class="blue">hatu</span><span class="red">po</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">ninyi</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">m</span><span class="red">ko</span></td>
			<td><span class="blue">ham</span><span class="red">ko</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wao</span></td>
			<td><span class="red">-mo</span></td>
			<td><span class="blue">wa</span><span class="red">mo</span></td>
			<td><span class="blue">hawa</span><span class="red">mo</span></td>
		</tr>
	</table>
	<p><br><b>*NOTE:</b> In the third-person singular (i.e. "yeye" case), the prefix changes from "<span class="blue">a</span>" to "<span class="blue">yu</span>"  ("<span class="blue">ha</span>" to "<span class="blue">hayu</span>") for locations</p>
	<p><br>For the past tense, you use the past tense of <a href="#kuwa">kuwa</a> merged with -po/-ko/-mo as a single word:</p>
	
	<table id="pokomopast" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Pronoun</td>
			<td><span class="red">-po</span>/<span class="red">-ko</span>/<span class="red">-mo</span></td>
			<td>Past (+)</td>
			<td>Negation (-)</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">mimi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">nilikuwa</span><span class="red">(po)</span></td>
			<td><span class="blue">sikuwa</span><span class="red">(po)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wewe</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">ulikuwa</span><span class="red">(ko)</span></td>
			<td><span class="blue">hukuwa</span><span class="red">(ko)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">yeye</span></td>
			<td><span class="red">-mo</span></td>
			<td><span class="blue">alikuwa</span><span class="red">(mo)</span></td>
			<td><span class="blue">hakuwa</span><span class="red">(mo)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">sisi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">tulikuwa</span><span class="red">(po)</span></td>
			<td><span class="blue">hatukuwa</span><span class="red">(po)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">ninyi</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">mlikuwa</span><span class="red">(ko)</span></td>
			<td><span class="blue">hamkuwa</span><span class="red">(ko)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wao</span></td>
			<td><span class="red">-mo</span></td>
			<td><span class="blue">walikuwa</span><span class="red">(mo)</span></td>
			<td><span class="blue">hawakuwa</span><span class="red">(mo)</span></td>
		</tr>
	</table>
	
	<p><br>Here is the future tense.  It is formed similarly to the past tense:</p>
	
	<table id="pokomofuture" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Pronoun</td>
			<td><span class="red">-po</span>/<span class="red">-ko</span>/<span class="red">-mo</span></td>
			<td>Future (+)</td>
			<td>Negation (-)</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">mimi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">nitakuwa</span><span class="red">(po)</span></td>
			<td><span class="blue">sitakuwa</span><span class="red">(po)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wewe</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">utakuwa</span><span class="red">(ko)</span></td>
			<td><span class="blue">hutakuwa</span><span class="red">(ko)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">yeye</span></td>
			<td><span class="red">-mo</span></td>
			<td><span class="blue">atakuwa</span><span class="red">(mo)</span></td>
			<td><span class="blue">hatakuwa</span><span class="red">(mo)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">sisi</span></td>
			<td><span class="red">-po</span></td>
			<td><span class="blue">tutakuwa</span><span class="red">(po)</span></td>
			<td><span class="blue">hatutakuwa</span><span class="red">(po)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">ninyi</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">mtakuwa</span><span class="red">(mo)</span></td>
			<td><span class="blue">hamtakuwa</span><span class="red">(mo)</span></td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">wao</span></td>
			<td><span class="red">-ko</span></td>
			<td><span class="blue">watakuwa</span><span class="red">(ko)</span></td>
			<td><span class="blue">hawatakuwa</span><span class="red">(ko)</span></td>
		</tr>
	</table>
	
	<p><br><b>*NOTE:</b> As you probably noticed, I had all the <span class="red">-po</span>/<span class="red">-ko</span>/<span class="red">-mo</span>'s in parenthesis for Past and Future tense.  If you are mentioning a location in your statement, you can leave out the <span class="red">-po</span>/<span class="red">-ko</span>/<span class="red">-mo</span>.  It is only ESSENTIAL when you are not specifying a location in your statement (for obvious reasons).</p>

	<p><br>Lastly, I will provide you with some example sentences:</p>
	
	<table id="pokomoexamples" border="0" cellpadding="0" cellspacing="0">
		<tr class="title">
			<td>Pronoun</td>
			<td>Tense</td>
			<td>Kiswahili</td>
			<td>English</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">Mimi</span></td>
			<td>Present (+)</td>
			<td><span class="blue">Ni</span><span class="red">po</span> hapa.</td>
			<td>I am here.</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">Sisi</span></td>
			<td>Past (-)</td>
			<td><span class="blue">Hatukuwa</span><span class="red">(ko)</span> nyumba<span class="red">ni</span>.</td>
			<td>We were not at school.</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">Yeye</span></td>
			<td>Present (+)</td>
			<td><span class="blue">Yu</span><span class="red">mo</span> nyumba<span class="red">ni</span>.</td>
			<td>He is in school.</td>
		</tr>
		<tr class="highlight">
			<td><span class="blue">Wao</span></td>
			<td>Future (+)</td>
			<td><span class="blue">Watakuwa</span><span class="red">(po)</span> kazi<span class="red">ni</span>.</td>
			<td>They will be at work.</td>
		</tr>
	</table>
	
	<p><br><b>*NOTE:</b> Some nouns will add "<span class="red">-ni</span>" at the end when talking about location.  I do not know of a rule other than the fact that it seems to happen to most nouns.</p>
</div>