<div class="post">
	<div class="title">
		<h2 id="pronouns">Pronouns</h2>
	</div>
	
	<p>
		Conjugating verbs formula: pronoun prefix + tense prefix + verb root
		<br>You can see this in action in the <a href="#tenses">Tenses</a> section below.
	</p>
	
	<div class="entry">
		<table id="pronouns" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>English</td>
				<td>Pronoun</td>
				<td>Verb Prefix</td>
			</tr>
			<tr class="highlight">
				<td>me</td>
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">ni</span></td>
			</tr>
			<tr class="highlight">
				<td>you</td>
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">u</span></td>
			</tr>
			<tr class="highlight">
				<td>he/she</td>
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">a</span></td>
			</tr>
			<tr class="highlight">
				<td>us/we</td>
				<td><span class="blue">sisi<span></td>
				<td><span class="blue">tu<span></td>
			</tr>
			<tr class="highlight">
				<td>you (pl.)</td>
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">m</span></td>
			</tr>
			<tr class="highlight">
				<td>we</td>
				<td><span class="blue">wao</span></td>
				<td><span class="blue">wa</span></td>
			</tr>
		</table>
	</div>
</div>