<div class="post">
	<div class="title">
		<h2 id="reflexive">Reflexive</h2>
	</div>
	<p>
		This form is almost identical to the <a href="#objects">Object Prefixes</a> above.  I highly recommend you master that before reading this section.
		<br><br>A quick recap:
		<br><br>If you recall from earlier lessons, we usually form verbs like so:<br><span class="blue">Pronoun Prefix</span> + <span class="red">Tense Prefix</span> + Verb Root
		<br><br>We will form the new verbs like so:<br><span class="blue">Pronoun Prefix</span> + <span class="red">Tense Prefix</span> + <span class="green">Object Prefix</span> + Modified Verb
		<br><br>To refer to oneself, you use the <span class="green">Object Prefix</span> of <span class="green">ji</span>.
		<br><br>You will also use the same verb ending modification from <a href="#objects">Object Prefixes</a> above:
	</p>

	<table id="objectprefixendings2" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Root Verb Vowel</td>
			<td>Ending</td>
		</tr>
		<tr class="highlight">
			<td>i, a, u</td>
			<td><span class="red">-ia</span></td>
		</tr>
		<tr class="highlight">
			<td>e, o</td>
			<td><span class="red">-ea</span></td>
		</tr>
	</table>
	
	<p>
		The same notes about adding an <span class="blue">L</span> also apply.  Again... please master <a href="#objects">Object Prefixes</a>.
		<br><br>For example:  to "cook FOR oneself", you will start with "-pika".  Examine the root vowel "-p<span class="red"><u><b>i</u></b></span>ka".  Then update the ending to "-pik<span class="red">ia</span>".  To use this in a sentence:
	</p>
	
	<table id="reflexiveexample" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>English</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td>I cook for myself.</td>
			<td>Mimi <span class="blue">ni</span><span class="red">na</span><span class="green">ji</span>pik<span class="red">ia</span>.</td>
		</tr>
	</table>
</div>