<div class="post">
	<div class="title">
		<h2 id="tenses">Tenses</h2>
	</div>
	
	<div class="subtitle">
			<h4 id="pastpresentfuture">Past, Present, Future</h4>
		</div>
	
	<p>
		A helpful trick to remember the tense prefixes is by using the common girls name "Natalie".  Except in our case, its "na-ta-li".
	</p>
	
	<div class="entry">
		<table id="tenses" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Tense</td>
				<td>Verb Prefix</td>
			</tr>
			<tr class="highlight">
				<td>Present</td>
				<td><span class="red">na</span></td>
			</tr>
			<tr class="highlight">
				<td>Future</td>
				<td><span class="red">ta</span></td>
			</tr>
			<tr class="highlight">
				<td>Past</td>
				<td><span class="red">li</span></td>
			</tr>
		</table>
		
		<br>
		<p>
			Here is an example of the conjugations of "-lala" the verb for "sleep".  The pronoun prefix is in <span class="blue">blue</span>.  The tense prefix is in <span class="red">red</span>.
		</p>
		
		<table id="tenses" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">ni</span><span class="red">li</span>lala</td>
				<td><span class="blue">ni</span><span class="red">na</span>lala</td>
				<td><span class="blue">ni</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">u</span><span class="red">li</span>lala</td>
				<td><span class="blue">u</span><span class="red">na</span>lala</td>
				<td><span class="blue">u</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">a</span><span class="red">li</span>lala</td>
				<td><span class="blue">a</span><span class="red">na</span>lala</td>
				<td><span class="blue">a</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">tu</span><span class="red">li</span>lala</td>
				<td><span class="blue">tu</span><span class="red">na</span>lala</td>
				<td><span class="blue">tu</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">m</span><span class="red">li</span>lala</td>
				<td><span class="blue">m</span><span class="red">na</span>lala</td>
				<td><span class="blue">m</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">wa</span><span class="red">li</span>lala</td>
				<td><span class="blue">wa</span><span class="red">na</span>lala</td>
				<td><span class="blue">wa</span><span class="red">ta</span>lala</td>
			</tr>
		</table>
		
		<br>
		<p>
			Note:  You may see verbs shown in two flavours.  The infinite form, starting with the prefix "ku".  For example, "kulala" means "to sleep".  
			You may also see verbs in their root form, which uses a hyphen "-" instead of "ku" to denote that you will use prefixes where the dash is.  
			For example, "-lala" mentioned above means "sleep" when paired with appropriate prefixes.
		</p>
		
		<br>
		<div class="subtitle">
			<h3 id="advancedtense">Advanced Tenses</h3>
		</div>
		
		<div class="subtitle">
			<h4 id="-me">"-me" Tense</h4>
		</div>
		
		<p>The first advanced tense we will cover is the "<span class="red">-me</span>" tense.  This is often referred to as the "Present Perfect" tense.  Something we don't exactly have in English.</p>
		<p><b>*NOTE:</b> This is always used with the positive verbs.  The opposite/negation of this, is the <span class="red">-ja</span> tense found below.</p>
		<p>Translations of "<span class="red">-me</span>" verbs will vary based on the verb definition.  However, we can group "<span class="red">-me</span>" verbs into two categories:</p>
		<br>
		
		<ol>
			<li><b>Passive Verbs:</b>
				<br>&nbsp&nbsp&nbsp&nbsp&nbspWith positive-passive verbs, this is similar to saying "is currently in &nbsp&nbsp&nbsp&nbsp&nbspthe state of".  What I mean by this, is best explained with example.  &nbsp&nbsp&nbsp&nbsp&nbspTake the verb -potea" (to be lost).
				<br><br>&nbsp&nbsp&nbsp&nbsp&nbspIf you wish to say "he is lost", you will use <span class="blue">a</span><span class="red">me</span>potea.
				<br><br>&nbsp&nbsp&nbsp&nbsp&nbspThis is similar to saying "he is currently in the state of being lost at &nbsp&nbsp&nbsp&nbsp&nbspthis moment."  Compare this with the following conjugations:<br>
			</li>
			<br>
				
			<table id="-mepassive" border="0" cellpadding="0" cellspacing="0">
				<tr class="title">
					<td>Tense</td>
					<td>Swahili</td>
					<td>English</td>
				</tr>
				<tr class="highlight">
					<td>Present</td>
					<td><span class="blue">a</span><span class="red">na</span>potea</td>
					<td>He is becoming lost.</td>
				</tr>
				<tr class="highlight">
					<td>Past</td>
					<td><span class="blue">a</span><span class="red">li</span>potea</td>
					<td>He got lost.</td>
				</tr>
				<tr class="highlight">
					<td>Future</td>
					<td><span class="blue">a</span><span class="red">ta</span>potea</td>
					<td>He will get lost.</td>
				</tr>
				<tr class="highlight">
					<td><span class="red">Present Perfect</span></td>
					<td><span class="blue">a</span><span class="red">me</span>potea</td>
					<td><span class="red">He is lost.<span></td>
				</tr>
			</table>
			
			<p><br>&nbsp&nbsp&nbsp&nbsp<b>*NOTE:</b> The opposite of this (for negative verbs --> i.e. "He is &nbsp&nbsp&nbsp&nbsp<span class="red">NOT</span> lost") is the -ja tense found below!</p>
	
			<br>
				
			<li><b>Active verbs:</b>
				<br>&nbsp&nbsp&nbsp&nbsp&nbspWhen pared with an active verb, it is similar to the Past Perfect in &nbsp&nbsp&nbsp&nbsp&nbspEnglish.  (a.k.a. "He ran" vs. "He has run".  The "have + run" form is &nbsp&nbsp&nbsp&nbsp&nbspthe Past Perfect.  This can also be formed using "<span class="red">-me</span>" verbs.
				<br><br>&nbsp&nbsp&nbsp&nbsp&nbspFor example, take the verb "-soma" (to study).  Here are the &nbsp&nbsp&nbsp&nbsp&nbspfollowing conjugations:
			</li>
			<br>
			
			<table id="-meactive" border="0" cellpadding="0" cellspacing="0">
				<tr class="title">
					<td>Tense</td>
					<td>Swahili</td>
					<td>English</td>
				</tr>
				<tr class="highlight">
					<td>Present</td>
					<td><span class="blue">ni</span><span class="red">na</span>soma</td>
					<td>I am studying.</td>
				</tr>
				<tr class="highlight">
					<td>Past</td>
					<td><span class="blue">ni</span><span class="red">li</span>soma</td>
					<td>I studied.</td>
				</tr>
				<tr class="highlight">
					<td>Future</td>
					<td><span class="blue">ni</span><span class="red">ta</span>soma</td>
					<td>I will study.</td>
				</tr>
				<tr class="highlight">
					<td><span class="red">Past Perfect</span></td>
					<td><span class="blue">ni</span><span class="red">me</span>soma</td>
					<td><span class="red">I have studied.<span></td>
				</tr>
			</table>
			
			<p><br>&nbsp&nbsp&nbsp&nbsp<b>*NOTE:</b> The opposite of this (for negative verbs --> i.e. "He has &nbsp&nbsp&nbsp&nbsp<span class="red">NOT</span> studied") is the -ja tense found below!</p>
		</ol>
		
		<div class="subtitle">
			<h4 id="-ja">"-ja" Tense</h4>
		</div>
		
		<p>The "<span class="red">-ja</span>" tense is basically the opposite of the "<span class="red">-me</span>" tense from above.  It is colloquially referred to as the "not yet" tense.</p>
		<p>You use this tense to say that some event has not yet taken place, or some action is not done yet.</p>
		<p><b>*NOTE:</b> this tense is ALWAYS used with the negative.  For positive versions of these, see the <span class="red">-me</span> tense above.</p>
		<p><b>*NOTE2:</b> The word "bado" (yet, still) is often used in conjunction with this tense.</p>
		<br>
		
		<p>For example, we will use the verb "-fika" (to arrive):</p>
		
		<table id="-jatable" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Swahili</td>
				<td>English</td>
			</tr>
			<tr class="highlight">
				<td>mimi</td>
				<td><span class="blue">si</span><span class="red">ja</span>fika</td>
				<td><span class="red">I have not arrived (yet).</span></td>
			</tr>
			<tr class="highlight">
				<td>wewe</td>
				<td><span class="blue">hu</span><span class="red">ja</span>fika</td>
				<td><span class="red">You have not arrived (yet).</span></td>
			</tr>
			<tr class="highlight">
				<td>yeye</td>
				<td><span class="blue">ha</span><span class="red">ja</span>fika</td>
				<td><span class="red">He has not arrived (yet).</span></td>
			</tr>
			<tr class="highlight">
				<td>sisi</td>
				<td><span class="blue">hatu</span><span class="red">ja</span>fika</td>
				<td><span class="red">We have not arrived (yet).</span></td>
			</tr>
			<tr class="highlight">
				<td>ninyi</td>
				<td><span class="blue">ham</span><span class="red">ja</span>fika</td>
				<td><span class="red">You all have not arrived (yet).</span></td>
			</tr>
			<tr class="highlight">
				<td>wao</td>
				<td><span class="blue">hawa</span><span class="red">ja</span>fika</td>
				<td><span class="red">They have not arrived (yet).</span></td>
			</tr>
		</table>
		
		<p><br><b>*NOTE:</b>  For single syllable words (kuja, kula, etc) they generally DROP the "ku" (unlike other language constructs, which usually keep the "ku"):</p>
	
		<table id="-jaexception" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Swahili</td>
				<td>English</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">si</span><span class="red">ja</span>la</td>
				<td><span class="red">I have not eaten.</span></td>
			</tr>
		</table>
		
		<br>
		<div class="subtitle">
			<h4 id="-ja">"-mesha" Tense</h4>
		</div>
		
		<p>The "<span class="red">-mesha</span>" tense is very similar to the <span class="red">-me</span> tense above. (Technically, it is an extension of the <Span class="red">-me</span> tense.  See below the example for a grammatic explanation).<p>
		<p>The main difference is, this tense specifies something that "has already" happened.  It is easiest explained with an example:<br></p>
		
		<table id="-mesha" border="0" cellpadding="0" cellspacing="0">
			<tr class="title">
				<td>Tense</td>
				<td>Kiswahili</td>
				<td>English</td>
			</tr>
			<tr class="highlight">
				<td><span class="red">present<span></td>
				<td><span class="blue">Ni</span><span class="red">na</span>enda</td>
				<td>I am going</td>
			</tr>
			<tr class="highlight">
				<td><span class="red">-me</span></td>
				<td><span class="blue">Ni</span><span class="red">me</span>enda</td>
				<td>He is gone.</td>
			</tr>
			<tr class="highlight">
				<td><span class="red">-mesha</span></td>
				<td><span class="blue">Ni</span><span class="red">mesha</span>enda</td>
				<td>He has already gone.</td>
			</tr>
		</table>
		
		<p><br>This form is actually a contraction.  (Such as "do" + "not" == "don't").</p>
		<p>It combines: "<span class="red">-me</span>" + "<span class="black">kwi</span><span class="blue">sha</span>" to get <span class="red">me</span><span class="blue">sha</span></p>
		
		<p><br><b>*NOTE:</b> "-kwisha" means "to finish".  Therefore the above example translates directly to something like "He has finished going" implying he already finished doing the act of going.</p>
	</div>
</div>