<div class="post">
	<div class="title">
		<h2 id="tenses">Tenses</h2>
	</div>
	
	<p>
		A helpful trick to remember the tense prefixes is by using the common girls name "Natalie".  Except in our case, its "na-ta-li".
	</p>
	
	<div class="entry">
		<table id="tenses" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Tense</td>
				<td>Verb Prefix</td>
			</tr>
			<tr class="highlight">
				<td>Present</td>
				<td><span class="red">na</span></td>
			</tr>
			<tr class="highlight">
				<td>Future</td>
				<td><span class="red">ta</span></td>
			</tr>
			<tr class="highlight">
				<td>Past</td>
				<td><span class="red">li</span></td>
			</tr>
		</table>
		
		<br>
		<p>
			Here is an example of the conjugations of "-lala" the verb for "sleep".  The pronoun prefix is in <span class="blue">blue</span>.  The tense prefix is in <span class="red">red</span>.
		</p>
		
		<table id="tenses" border="0" cellpading="0" cellspacing="0">
			<tr class="title">
				<td>Pronoun</td>
				<td>Past</td>
				<td>Present</td>
				<td>Future</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">mimi</span></td>
				<td><span class="blue">ni</span><span class="red">li</span>lala</td>
				<td><span class="blue">ni</span><span class="red">na</span>lala</td>
				<td><span class="blue">ni</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wewe</span></td>
				<td><span class="blue">u</span><span class="red">li</span>lala</td>
				<td><span class="blue">u</span><span class="red">na</span>lala</td>
				<td><span class="blue">u</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">yeye</span></td>
				<td><span class="blue">a</span><span class="red">li</span>lala</td>
				<td><span class="blue">a</span><span class="red">na</span>lala</td>
				<td><span class="blue">a</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">sisi</span></td>
				<td><span class="blue">tu</span><span class="red">li</span>lala</td>
				<td><span class="blue">tu</span><span class="red">na</span>lala</td>
				<td><span class="blue">tu</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">ninyi</span></td>
				<td><span class="blue">m</span><span class="red">li</span>lala</td>
				<td><span class="blue">m</span><span class="red">na</span>lala</td>
				<td><span class="blue">m</span><span class="red">ta</span>lala</td>
			</tr>
			<tr class="highlight">
				<td><span class="blue">wao</span></td>
				<td><span class="blue">wa</span><span class="red">li</span>lala</td>
				<td><span class="blue">wa</span><span class="red">na</span>lala</td>
				<td><span class="blue">wa</span><span class="red">ta</span>lala</td>
			</tr>
		</table>
		
		<br>
		<p>
			Note:  You may see verbs shown in two flavours.  The infinite form, starting with the prefix "ku".  For example, "kulala" means "to sleep".  
			You may also see verbs in their root form, which uses a hyphen "-" instead of "ku" to denote that you will use prefixes where the dash is.  
			For example, "-lala" mentioned above means "sleep" when paired with appropriate prefixes.
		</p>
	</div>
</div>