<div class="post">
	<div class="title">
		<h2 id="times">Telling Time</h2>
	</div>
	<p>The first thing to know, is that Swahili days center around 7 AM and 7 PM instead of midnight and noon (12's) in USA times.
		<br><br>We will start off with a trick to telling time based on a clock.  If you have a clock using standard American timetelling hands, you can determine the Kiswahili time by adding or subtracting 6 hours.  (This can be visualized by looking at the the exact opposite number of the hour hand.  Aka, half a circle.)<br><br>Example (7 o'clock in USA -> 1 o'clock in Kiswahili):
		<br><img src="/images/clock.jpg"></img>
		<br>Notice that 6 hours in either direction make the semi-circle that relate the times:
		<br><img src="/images/clock6.jpg"></img>
		<br>*NOTE:  According to the book, some people in Swahili speaking countries actually use their watches like this.  They tune it to "American-style" time and just read the opposite hour as seen in the pictures above.
	</p>
	
	<p><br>Now for some Kiswahili.  Two useful keywords/phrases to know are <span class="blue">saa</span> ("hour" in English) and <span class="blue">saa ngapi?</span> ("what time is it?").
		<br><br>The follow chart shows how you distinguish 7 AM from 7 PM.  In Kiswahili you use <span class="blue">asubuhi</span> to mean morning, or <span class="blue">jioni/usiku</span> to mean evening or night respectively.
	</p>
	
	<table id="starttimes" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Time</td>
			<td>Kiswahili</td>
			<td>English Translation</td>
		</tr>
		<tr class="highlight">
			<td>7 AM</td>
			<td><span class="blue">saa moja asubuhi</span></td>
			<td>first hour in the morning</td>
		</tr>
		<tr class="highlight">
			<td>7 PM</td>
			<td><span class="blue">saa moja jioni/usiku</span></td>
			<td>first hour of the evening/night</td>
		</tr>
	</table>
	
	<p><br>So in order to tell time, you can simply change the number to offset from 7 AM/PM.  Here are some examples:<br></p>
	
	<table id="exampletimes" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Time</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td>10:00 AM</td>
			<td><span class="blue">saa nne asubuhi</span></td>
		</tr>
		<tr class="highlight">
			<td>12:00 PM (noon)</td>
			<td><span class="blue">saa sita asubuhi</span></td>
		</tr>
		<tr class="highlight">
			<td>5:00 PM</td>
			<td><span class="blue">saa kumi na moja asubuhi</span></td>
		</tr>
		<tr class="highlight">
			<td>8:00 PM</td>
			<td><span class="blue">saa mbili jioni/usiku</span></td>
		</tr>
		<tr class="highlight">
			<td>11:00 PM</td>
			<td><span class="blue">saa tano jioni/usiku</span></td>
		</tr>
		<tr class="highlight">
			<td>12:00 AM (midnight)</td>
			<td><span class="blue">saa sita jioni/usiku</span></td>
		</tr>
	</table>

	<p><br>Now to get a bit more interesting.  Here is how you can say 15, 30, or 45 minutes on the hour.
		<br><br>For 15 or 30 minutes, you use <span class="red">na</span> to add <span class="red">robo</span> (quarter) or <span class="red">nusu</span> (half).
		<br><br>For 45 minutes, you use subtraction.  You say something along the lines of "15 minutes before ..."  So you use <span class="red">kasarobo</span> (minus a quarter) with the next hour.  For instance, 3:45 would be "15 minutes before 4".
		<br><br>Here are some examples:
	</p>

	<table id="timeoffsets" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Time</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td>5:15 AM</td>
			<td><span class="blue">saa kumi na moja</span> <span class="red">na robo</span> <span class="blue">usiku</span></td>
		</tr>
		<tr class="highlight">
			<td>2:30 PM</td>
			<td><span class="blue">saa nane</span> <span class="red">na nusu</span> <span class="blue">asubuhi</span></td>
		</tr>
		<tr class="highlight">
			<td>8:45 PM</td>
			<td><span class="blue">saa</span> <span class="red">tatu kasarobo</span> <span class="blue">jioni</span></td>
		</tr>
	</table>
	
	<p><br>To get a bit more specific, you use the words <span class="red">dakika</span> (minutes) along with <span class="red">na</span> (add) and <span class="red">kasa</span> (less [subtract]).
		<br><br>Here are some examples:
	</p>
	
	<table id="timewithminutes" border="0" cellpading="0" cellspacing="0">
		<tr class="title">
			<td>Time</td>
			<td>Kiswahili</td>
		</tr>
		<tr class="highlight">
			<td>7:55 PM</td>
			<td><span class="blue">saa mbili</span> <span class="red">kasa dakika tano</span> <span class="blue">usiku</span></td>
		</tr>
		<tr class="highlight">
			<td>9:02 AM</td>
			<td><span class="blue">saa tatu</span> <span class="red">na dakika mbili</span> <span class="blue">asubuhi</span></td>
		</tr>
	</table>
	
	<p><br>The best way to learn this is to do a TON of practice.  Truth be told, I quadruple checked myself on most of these and still may have made a mistake.  Don't forget to use the sidebar to email me with any errors so that I can correct them! :D</p>
</div>