<div class="post">
	<div class="title">
		<h2>About Swahili Cheat Sheet</h2>
	</div>
					
	<div class="entry">
		<p>
			As part of an assignment for Swahili I at the University of Pittsburgh, I decided to create a "cheat sheet" or quick reference for the vocabulary and conjugations that we've covered.  These will mostly be basics for people who forget things like negations, conjugation, etc.
			<br><br>With that in mind, please email me using the sidebar if you find any issues or would like to suggest more content to be added.  Thank you :)
		</p>
		<p>
			<br><b>*NOTE:</b>  I am not a linguist or anything of the sort.  My terminology should all be taken "as-is".  Various sites and the book we used each have different terms.  I tried to relate everything to English equivalents/terms as much as I could.
		</p>
	</div>
</div>