<div id="header">
	<h1><a href="#">Swahili Cheat Sheet</a></h1>
</div>

<div class="menu">
	<ul>
		<a href="#pronouns">Pronouns</a>
		<a href="#tenses">Tenses</a>
		<a href="#greetings">Greetings</a>
		<a href="#negation">Negation</a>
		<a href="#kuwa">Kuwa (na)</a>
		<a href="#possessives">Possessives</a>
		<a href="#numbers">Numbers</a>
		<a href="#dates">Calendar Dates</a>
	</ul>
	<ul>
		<a href="#times">Telling Time</a>
		<a href="#objects">Object Prefixes</a>
		<a href="#reflexive">Reflexive</a>
		<a href="#passive">Passive Voice</a>
		<a href="#nounclass">Noun Classes</a>
		<a href="#places">Places</a>
	</ul>
</div>