<div id="sidebar">
	<ul>
		<li id="flashcards">
			<h2>Vocab Flash Cards</h2>
			<ul>
				<li><a target="_blank" href="http://quizlet.com/56420202/flashcards">Chapter 1</a></li>
				<li><a target="_blank" href="http://quizlet.com/56429413/flashcards">Chapter 2</a></li>
				<li><a target="_blank" href="http://quizlet.com/56429776/flashcards">Chapter 3</a></li>
				<li><a target="_blank" href="http://quizlet.com/56435892/flashcards">Chapter 4</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436083/flashcards">Chapter 5</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436277/flashcards">Chapter 6</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436554/flashcards">Chapter 7</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436807/flashcards">Chapter 8</a></li>
				<li><a target="_blank" href="http://quizlet.com/56437009/flashcards">Chapter 9</a></li>
				<li><a target="_blank" href="http://quizlet.com/58560753/flashcards">Chapter 10</a></li>
				<li><a target="_blank" href="http://quizlet.com/65753905/flashcards">Chapter 11</a></li>
				<li><a target="_blank" href="http://quizlet.com/66854174/flashcards">Chapter 12</a></li>
				<li><a target="_blank" href="http://quizlet.com/67762039/flashcards">Chapter 13</a></li>
				<li><a target="_blank" href="http://quizlet.com/69537917/flashcards">Chapter 14</a></li>
				<li><a target="_blank" href="http://quizlet.com/69540426/flashcards">Chapter 15</a></li>
				<li><a target="_blank" href="http://quizlet.com/71054272/flashcards">Chapter 16</a></li>
				<li><a target="_blank" href="http://quizlet.com/73194094/flashcards">Chapter 17</a></li>
			</ul>
		</li>
		
		<li id="samplequiz">
			<h2>Practice Vocab Quizzes</h2>
			<ul>
				<li><a target="_blank" href="http://quizlet.com/56420202/test">Chapter 1</a></li>
				<li><a target="_blank" href="http://quizlet.com/56429413/test">Chapter 2</a></li>
				<li><a target="_blank" href="http://quizlet.com/56429776/test">Chapter 3</a></li>
				<li><a target="_blank" href="http://quizlet.com/56435892/test">Chapter 4</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436083/test">Chapter 5</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436277/test">Chapter 6</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436554/test">Chapter 7</a></li>
				<li><a target="_blank" href="http://quizlet.com/56436807/test">Chapter 8</a></li>
				<li><a target="_blank" href="http://quizlet.com/56437009/test">Chapter 9</a></li>
				<li><a target="_blank" href="http://quizlet.com/58560753/test">Chapter 10</a></li>
				<li><a target="_blank" href="http://quizlet.com/65753905/test">Chapter 11</a></li>
				<li><a target="_blank" href="http://quizlet.com/66854174/test">Chapter 12</a></li>
				<li><a target="_blank" href="http://quizlet.com/67762039/test">Chapter 13</a></li>
				<li><a target="_blank" href="http://quizlet.com/69537917/test">Chapter 14</a></li>
				<li><a target="_blank" href="http://quizlet.com/69540426/test">Chapter 15</a></li>
				<li><a target="_blank" href="http://quizlet.com/71054272/test">Chapter 16</a></li>
				<li><a target="_blank" href="http://quizlet.com/73194094/test">Chapter 17</a></li>
			</ul>
		</li>
				
		<li id="resources">
			<h2>Additional Resources</h2>
			<ul>
				<li><a target="_blank" href="http://www.amazon.com/Swahili-Foundation-Speaking-Reading-Writing/dp/0761809724/ref=sr_1_1?s=books&ie=UTF8&qid=1414913568&sr=1-1&keywords=kiswahili">Textbook used for Vocabulary</a></li>
				<li><a target="_blank" href="http://langmedia.fivecolleges.edu/swahili/audio_hinn/hinnebusch.html">Textbook Pronunciation Examples</a></li>
				<li><a target="_blank" href="http://africanlanguages.com/swahili/index.php?l=en">Online Swahili-English Dictionary</a></li>
			</ul>
		</li>
					
		<li id="contact">
			<h2>Contact Me</h2>
			<div id="contactform"> <a href="mailto:mrhappyasthma@gmail.com">Email Me</a> </div>
		</li>
	</ul>
</div>